# Virtual Environment
ScratchNeuralNetwork-env/
venv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# System files
.DS_Store 